* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	.navbar {
		height: 70px;
		width: 100%;
		display: flex;
		justify-content: space-between;

		.menu {
			cursor: pointer;
			display: flex;
			height: 100%;
			align-items: center;
			padding: 0 20px;
			transition: 0.3s;
			border-right: 1px solid #E0E0E0;
			img {
				padding-right: 12px;
			}
			&:hover {
				background: #E0E0E0;
				transition: 0.3s;
			}
		}

		.logo {
			height: 100%;
			display: flex;
			align-items: center;

			img {
				width: 80px;
			}
		}

		.login {
			display: flex;

			a {
				font-size: 15px;
				font-weight: bolder;
				font-family: Arial, Helvetica, sans-serif;
				text-transform: uppercase;
				align-items: center;
				display: flex;
				padding: 0 21px;
				transition: 0.3s;

				&:hover {
					opacity: 0.5;
					transition: 0.3s;
				}

				&:last-child {
					color: $white-cl;
					background: #49C5B6;
					;
					opacity: 0.6;
					transition: 0.3s;

					&:hover {
						opacity: 1;
						transition: 0.3s;
					}
				}

			}
		}
	}
}